// Place all the styles related to the reservation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.reservation-form-page {
  margin: 0 auto;
  width: 1400px;
  min-height: 100vh;
}

.reservation-form-box {
  background-color: #F6F8F9;
  text-align: center;
  width: 700px;
  padding: 30px;
  margin: 0 auto;
  border: 1px solid #e2e2e2;
}

.input-calendar {
  width: 300px;
  height: 30px;
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  font-size: 18px;
}

.input-count {
  width: 300px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #e2e2e2;
  font-size: 18px;
}

.reservation-submit {
  margin-top: 20px;
}

.reservation-btn {
  padding: 7px;
  width: 380px;
  border-radius: 5px;
  color: #fff;
  background-color: #4a90e2;
  font-size: 16px;
  border: 0px;
  cursor: pointer;
  margin: 15px 0;
}

.reserved-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  margin-bottom: 60px;
}

table {
  min-width: 800px;
  border-collapse: collapse;
  text-align: center;
}

table .center {
  border-top: 1px solid #eaedef;
  border-bottom: 1px solid #eaedef;
}

table thead th {
  padding: 8px 15px;
  font-size: 14px;
  letter-spacing: 1px;
}

table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
  font-size: 14px;
}

table tbody tr {
  border-bottom: 1px solid #eaedef;
}

table tbody td {
  padding: 10px;
}

table tbody .post-image {
  width: 240px;
  height: 140px;
}

table tbody .post-name-box {
  max-width: 200px;
}

table tbody .post-name-link {
  color: #4a90e2;
  text-decoration: underline;
  font-weight: 700;
}

table .post-introduction {
  max-width: 350px;
  text-align: left;
}

.reservation-data-hidden {
  display: none;
}

.confirm-wrapper {
  min-height: 100vh;
}

.confirm-container {
  padding: 20px;
  border: 1px solid #e2e2e2;
  width: 500px;
  margin: 50px auto;
}

.confirm-title {
  border-bottom: 1px solid #e2e2e2;
}

.room-reservation-price {
  font-size: 20px;
}

.reservation-data {
  display: flex;
  flex-direction: column;
  font-size: 14px;

}

.reservation_form_field {
  width: 95%;
  padding: 10px;
  border: 1px solid #ced4da;
  background-color: #e9ecef;
  border-radius: 5px;
  font-size: 16px;
}

.data-day {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0;
}

span {
  margin-bottom: 5px;
}

.confirm-text {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 10px;
}

.reservation-submit-btn {
  padding: 7px;
  width: 100%;
  border-radius: 5px;
  color: #fff;
  background-color: #4a90e2;
  font-size: 16px;
  border: 0px;
  cursor: pointer;
  margin: 15px 0;
}

.back-room-btn {
  display: block;
  padding: 7px;
  width: 486px;
  border-radius: 5px;
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  font-size: 16px;
  border: 0px;
  cursor: pointer;
  margin: 15px 0;
  text-decoration: none;
  text-align: center;
}

.dicision-wrapper {
  width: 100%;
  min-height: 70vh;
}

.dicision-container {
  background-color: #F6F8F9;
  padding-top: 40px;
  margin-top: 60px;
  height: 350px;
}

.dicision-box {
  max-width: 880px;
  margin: 0 auto;
  border: 1px solid #eaedef;
  background-color: #fff;
}

.dicision-content {
  border-bottom: 1px solid #eaedef;
  padding: 20px;
  margin: 0 15px;
  font-size: 16px;
}

.dicision-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  font-size: 18px;
}

.discription {
  font-weight: bold;
  padding: 5px;
}

.discription-text {
  margin-left: 200px;
  padding: 5px;
}

.discription-link {
  text-decoration: none;
  font-weight: bold;
  color: #4a90e2;
  transition: 0.2s;
}

.discription-link:hover {
  transition: 0.2s;
  color: #8fb5e0;
}

.first-text-f {
  margin-right: -47px;
}

.last-text-l {
  margin-right: 15px;
}